.post_index{
    position: relative;
    margin: 0;
    margin-top: -1px;
    padding: 20px;
    border: 1px solid lightblue;
    background-color: beige;
    box-sizing: border-box;
}

.date{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.mg{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.perfil{
    border: 3px solid black;
    background-color: azure;
    padding: 50px;
    position: relative;
}

.nameperfil{
    justify-content: center;
    text-align: center;
}

#follow{
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}